<!DOCTYPE html>
<html>
  <head>
    <title>Codewords Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div id="wrapper" class="columns is-centered">
      <div class="column is-two-thirds">
        <% flash.each do |message_type, message| %>
          <% message_type = "danger"  if %w[error alert].include?(message_type) %>
          <% message_type = "success" if %w[notice].include?(message_type) %>
          <%= content_tag(:div, message, class: "notification is-#{message_type}") %>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
